<?xml version="1.0"?>
<launch>
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_empty_world.launch">
    <arg name="x_pos" value="0.0"/>
    <arg name="y_pos" value="0.0"/>
    <arg name="z_pos" value="0.0"/>
  </include>

  <node pkg="turtlebot3_smart_nav" type="main_train.py" name="drl_training_node" output="screen" />
</launch>
